body {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
}

header {
	min-inline-size: 100vmin;
	max-inline-size: 100vmax;
	inline-size: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	place-items: center;
}

a#return {
	grid-column: 1;
	color: inherit;

	& > span.icon {
		--url: url(../../assets/icons/arrow-left.svg);
	}
}

main {
	min-inline-size: 100vmin;
	max-inline-size: 100vmin;
	max-block-size: 100%;
	overflow: hidden auto;
}

button#reset span.icon {
	--url: url(../../assets/icons/clock-rotate-left.svg);
}
