header {
	grid-template-columns: auto 1fr auto;

	& > label {
		min-inline-size: 0;
		display: grid;
	}
}

input#title {
	min-inline-size: 0;
	font-weight: 600;
}

button#save > span.icon {
	--url: url(../../assets/icons/floppy-disk.svg);
}

article.poll {
	display: grid;
	grid-template:
		'number-area	question-area	remove-area	' auto
		'.				cases-area		cases-area	' auto
		/ minmax(var(--size-standart), auto) 1fr auto
	;
	align-items: center;
	gap: var(--size-gap) var(--size-small-gap);

	& > span.number {
		grid-area: number-area;
		text-align: center;
		font-variant-numeric: tabular-nums;
	}

	& > input.question {
		grid-area: question-area;
		min-inline-size: 0;
		font-weight: 600;
	}

	& > button.remove {
		grid-area: remove-area;

		& > span.icon {
			--url: url(../../assets/icons/trash.svg);
		}
	}

	& > div.cases {
		grid-area: cases-area;
	}
}

div.case {
	& > input[type="text"] {
		flex-grow: 1;
		min-inline-size: 0;
		font-weight: normal;
	}

	& > label.check {
		background-color: transparent;

		& > span.icon {
			--url: url(../../assets/icons/square.svg);
		}
	}

	& > input:checked + label.check > span.icon {
		--url: url(../../assets/icons/square-check.svg);
		color: var(--color-highlight);
	}

	& > button.remove > span.icon {
		--url: url(../../assets/icons/xmark.svg);
	}
}

form.insert {
	& > input {
		flex-grow: 1;
		min-inline-size: 0;
	}

	&.small {
		padding-inline-start: calc(var(--size-standart) + var(--size-small-gap));
	}

	& > button.add > span.icon {
		--url: url(../../assets/icons/plus.svg);
	}
}
