body {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
}

header {
	min-inline-size: 100vmin;
	max-inline-size: 100vmax;
	inline-size: 100%;
	display: grid;
	grid-template-columns: 1fr auto auto;
	place-items: center;
}

label[for="select-all"] {
	grid-column: 1;
	justify-self: start;

	& > span.icon {
		--url: url(../../assets/icons/square.svg);
	}
}

header:not(:has(input#editing:checked)) > label[for="select-all"] {
	display: none;
}

input#select-all:checked + label[for="select-all"] {
	background-color: revert;

	& > span.icon {
		--url: url(../../assets/icons/square-check.svg);
	}
}

label[for="editing"] {
	grid-column: 2;

	& > span.icon {
		--url: url(../../assets/icons/pencil.svg);
	}
}

input#editing:checked + label[for="editing"] {
	background-color: revert;

	& > span.icon {
		--url: url(../../assets/icons/xmark.svg);
	}
}

a#settings {
	grid-column: 3;
	color: inherit;

	& > span.icon {
		--url: url(../../assets/icons/gear.svg);
	}
}

main {
	min-inline-size: 100vmin;
	max-inline-size: 100vmin;
	max-block-size: 100%;
	overflow: hidden auto;
}

ul#notes {
	list-style: none;
}

label.note {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

label.note > a.sheet {
	display: grid;
	grid-template:
		'sheet-icon-area	sheet-title-area' 1fr
		'sheet-icon-area	sheet-date-area' 1fr
		/ auto 1fr
	;

	& > .sheet-icon {
		grid-area: sheet-icon-area;
		display: flex;

		& > span.icon {
			--url: url(../../assets/icons/file-lines.svg);
		}
	}

	& > .sheet-title {
		grid-area: sheet-title-area;
		align-self: end;
	}

	& > .sheet-date {
		grid-area: sheet-date-area;
		align-self: start;
	}
}

header:has(input#editing:checked) ~ main label.note {
	& > a.sheet {
		pointer-events: none;
	}

	& > a.sheet > .sheet-icon > span.icon {
		--url: url(../../assets/icons/square.svg);
	}

	& > input:checked + a.sheet > .sheet-icon > span.icon {
		--url: url(../../assets/icons/square-check.svg);
	}
}

div.float-section {
	position: absolute;
	right: var(--size-large-gap);
	bottom: var(--size-large-gap);
	width: fit-content;
	height: fit-content;
	border-radius: 50vmin;
	overflow: hidden;
}

header:has(input#editing:checked) ~ main div.float-section button#open-add {
	display: none;
}

button#open-add span.icon {
	--url: url(../../assets/icons/plus.svg);
}

header:not(:has(input#editing:checked)) ~ main div.float-section button#open-actions {
	display: none;
}

button#open-actions span.icon {
	--url: url(../../assets/icons/bars.svg);
}

span.icon#device {
	--url: url(../../assets/icons/laptop.svg);
}

span.icon#cloud {
	--url: url(../../assets/icons/cloud-arrow-down.svg);
}

form#link > input {
	flex-grow: 1;
	min-width: 0;
}

button#download span.icon {
	--url: url(../../assets/icons/download.svg);
}

button#share span.icon {
	--url: url(../../assets/icons/share-nodes.svg);
}

button#delete span.icon {
	--url: url(../../assets/icons/trash.svg);
}
