/* Main */
:root {
	--size-serpator: 0.3vmin;
	--size-standart: 4vmin;
}

@media screen {
	@media (orientation: portrait) {
		@media (min-height: 640px) {
			/* Mobile */

			:root {
				--size-standart: 8vmin;
				--size-gap: 2vmin;
			}
		}

		@media (min-height: 960px) {
			/* Tablet */

			:root {
				--size-standart: 6vmin;
				--size-gap: 1.5vmin;
			}
		}

		@media (min-height: 1100px) {
			/* Desktop */

			:root {
				--size-standart: 4vmin;
				--size-gap: 1vmin;
			}
		}
	}

	@media (orientation: landscape) {
		@media (min-width: 640px) {
			/* Mobile */

			:root {
				--size-standart: 8vmin;
				--size-gap: 2vmin;
			}
		}

		@media (min-width: 960px) {
			/* Tablet */

			:root {
				--size-standart: 6vmin;
				--size-gap: 1.5vmin;
			}
		}

		@media (min-width: 1100px) {
			/* Desktop */

			:root {
				--size-standart: 4vmin;
				--size-gap: 1vmin;
			}
		}
	}
}

@supports(user-select: none) {
	* {
		user-select: none;
		-webkit-user-drag: none;
	}
}

* {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
	border-width: var(--size-serpator);
	outline-style: none;
	outline-width: var(--size-serpator);
	outline-offset: calc(-1 * var(--size-serpator));
}

*[hidden] {
	display: none !important;
}

body {
	font-weight: normal;
}

@media screen {
	@media (orientation: portrait) {
		@media (min-height: 640px) {
			/* Mobile */

			body {
				font-size: 3.6vmin;
			}
		}

		@media (min-height: 960px) {
			/* Tablet */

			body {
				font-size: 2.7vmin;
			}
		}

		@media (min-height: 1100px) {
			/* Desktop */

			body {
				font-size: 1.8vmin;
			}
		}
	}

	@media (orientation: landscape) {
		@media (min-width: 640px) {
			/* Mobile */

			body {
				font-size: 3.6vmin;
			}
		}

		@media (min-width: 960px) {
			/* Tablet */

			body {
				font-size: 2.7vmin;
			}
		}

		@media (min-width: 1100px) {
			/* Desktop */

			body {
				font-size: 1.8vmin;
			}
		}
	}
}

section.serpator {
	display: contents;
}

section.option {
	display: grid;
	grid: 'title value' 1fr 'definition value' auto;
	align-items: center;
	column-gap: var(--size-gap);
	padding-top: var(--size-gap);
}

section.option>section.option {
	padding-left: calc(var(--size-gap) * 2);
	grid-column: auto / span 2;
}

section.option>input:not(:checked)~section.option {
	display: none !important;
}

button,
a.button,
input,
input[type="file"]+label[role="button"],
input[type="checkbox"]+label[role="checkbox"],
input[type="radio"]+label[role="combobox"],
textarea,
select {
	font-size: inherit;
	font-weight: bold;
}

*::placeholder {
	font-weight: normal;
}

button,
a.button,
input,
textarea,
select {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

input:enabled,
textarea:enabled {
	cursor: text;
}

button:enabled,
a.button,
input:enabled:read-only,
input[type="file"]:enabled+label[role="button"],
input[type="checkbox"]:enabled+label[role="checkbox"],
input[type="radio"]:enabled:not(:checked)+label[role="combobox"],
textarea:enabled:read-only,
select:enabled {
	cursor: pointer;
}

input[type="checkbox"]+label[role="checkbox"].toggle {
	aspect-ratio: 2;
	height: 1.2rem;
	display: flex;
	border-radius: 50vmin;
	padding: var(--size-serpator);
}

input[type="checkbox"]+label[role="checkbox"].toggle>span.knob {
	aspect-ratio: 1;
	height: 100%;
	border-radius: inherit;
	margin-left: 0;
	margin-right: auto;
}

input[type="checkbox"]:checked+label[role="checkbox"].toggle>span.knob {
	margin-left: auto;
	margin-right: 0;
}

dialog {
	margin: auto;
	padding: var(--size-gap);
}

/*  */

img {
	aspect-ratio: 1;
	height: var(--size-standart);
}

img.in-text {
	height: 1rem;
}

table {
	padding: var(--size-gap);
}

table th,
table td {
	padding: calc(var(--size-gap) / 2) var(--size-gap);
}

li {
	list-style-position: inside;
}

ul li {
	list-style-type: "•";
}

hr {
	height: var(--size-serpator);
	background-color: black;
}

dfn {
	font-size: 0.85em;
	font-weight: 300;
}

kbd {
	display: inline-grid;
	margin: calc(var(--size-gap) / 4) calc(var(--size-gap) / 2);
	padding: calc(var(--size-gap) / 2) var(--size-gap);
	border-radius: 3px;
}

::-webkit-scrollbar {
	width: calc(var(--size-serpator) * 4);
}

/* Local */
section.pole {
	display: grid;
	grid: max-content / max-content 1fr;
	column-gap: var(--size-gap);
}

li.pole-index {
	grid-row: auto / span 2;
}

section.case {
	display: grid;
	grid: max-content / max-content 1fr;
	column-gap: var(--size-gap);
}